@use "./variables";

%slider {
  @extend .ms-auto;
  background-color: variables.$slide-background-color;
  width: 90%;
}
%sliders-navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliders {
  &-wrapper {
    @extend .overflow-hidden, .position-relative;
  }
  &-navigation {
    @extend .position-absolute, .d-flex, .justify-content-between;
    color: variables.$sliders-navigation-color;
    transform: translate(-50%, -50%);
    bottom: 10px;
    left: 50%;
    width: 12rem;
  }
  &-navigation__next,
  &-navigation__prev {
    @extend %sliders-navigation-button;
    & > svg {
      width: 32px;
      height: auto;
      cursor: pointer;
    }
  }
}

.slick-slider,
.slider-side {
  @extend %slider;
}

.slider-side-wrapper {
  @extend .w-100, .position-absolute;
  top: 0;
  left: -90%;
}
.slick-slider__slide,
.slide-side__slide {
  @extend .d-flex;
}

.slide {
  &__left-column {
    @extend .flex-grow-1, .p-5;
  }
  &__right-column {
    @extend .w-50;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__title {
    @include font-size(variables.$slide-title-font-size);
    @extend .text-uppercase;
  }
  &__link {
    @extend .text-uppercase,
      .position-relative,
      .d-block,
      .text-decoration-none,
      .my-5;
    color: $black;
    width: fit-content;
    &:before {
      @extend .position-absolute, .w-100;
      top: -10px;
      height: 2px;
      background-color: variables.$slide-link-decoration-color;
      content: "";
    }
  }

  &__description {
    @extend .mt-5;
    max-width: 60ch;
    @include font-size(variables.$slide-description-font-size);
  }
}

.slides-count__current-slide {
  @include font-size(variables.$sliders-navigation-font-size);
}
